*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Bree Serif', serif;
}

/* BOXES*/

.box{
  height: 100vh;
}

.box{
  position:relative;

}

.box .scarpa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box p{
  line-height: 70px;
  word-spacing: 40px;
  font-size: 65px;
  font-weight: bolder;
  color: rgb(255, 255, 0);
  text-transform: uppercase;
  text-align: center;
}




/* /BOXES */

/* BOX RED */
.red{
  background-color: rgb(255, 3, 2) ;
}

/* BOX GREEN*/
.green{
  background-color: rgb(0, 127, 10) ;
}

/* BOX YELLOW */
.yellow{
  background-color:rgb(254, 254, 31) ;
}

#greentext{
  line-height: 70px;
  word-spacing: 40px;
  font-size: 65px;
  font-weight: bolder;
  color: rgb(0, 127, 10);
  text-transform: uppercase;
  text-align: center;
}
